.header{
  margin-top: 50px;
  text-align: center;
}
.ColDiv{
display: flex;
justify-content: center;
justify-content: space-around;


.divTitle{
 text-align: center;
 border-bottom: solid 2px;
}




  .progressDiv{
    border: solid 2px;
    border-radius: 2px 2px 2px 2px;
    width: 400px;
    height: 800px;
    
}
.progressDiv:hover{
  opacity: .5;
}
  .queDiv{
  border: solid 2px;
  border-radius: 2px 2px 2px 2px;
  width: 400px;
  height: 800px;
}
  .doneDiv{
    border: solid 2px;
    border-radius: 2px 2px 2px 2px;
    width: 400px;
    height: 800px;
}
}

.card{
  border: solid 2px;
  font-size: 12px;
  height: 60px;
  text-align: center;
  }
  .card:hover{
    opacity: .5;
  }

